@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 286px 0px;
    align-items: center;

}

.header-links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

.header-links li {
    margin-left: 16px;
    
}

.header a {
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    padding: 116px 286px;
    display: flex;
    justify-content: space-between;

}

.hero img {
    max-height: 300px;
}

.hero-text {
    padding-right: 78px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.hero-button {
    padding: 10px 42px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.images-div {
    display: flex;
    flex-direction: column;
    padding: 60px 380px;
}

.images-div h2 {
    text-align: center;
    vertical-align:middle;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 60px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-div {
    border-radius: 20px;
    border: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.image-and-text p {
    font-size: 18px;
    color: #4f4f4f;
    text-align: center;
    padding: 0px 29px;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.quote-div {
    background-color: #e5e7eb;
    padding: 180px 450px 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 26px;
    color: #1F2937;
    text-align: right;
    font-weight: bold;
}

.signup-div {
    padding: 180px 450px 150px;
    background-color:#F9FAF8;
}

.box-div