* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.header a {
    color: #e5e7eb;
}